input {
  background-color: #F0F2F5 !important;
}
header {
  border-bottom: 1px gray solid !important;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
._card {
  display: inline-block;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}



/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}